Babel==2.3.4
dateutils==0.6.6
docutils==0.12
funcsigs==1.0.2
linecache2==1.0.0
lxml==3.6.4
Mako==1.0.6
MarkupSafe==0.23
mock==2.0.0
pbr==1.10.0
PIL==1.1.7
Pillow==3.4.2
psycopg2==2.6.2
PyChart==1.38
python-dateutil==2.6.0
python-openid==2.2.5
pytz==2016.7
PyYAML==3.12
reportlab==3.3.0
simplejson==3.10.0
six==1.10.0
traceback2==1.4.0
unittest2==1.1.0
Werkzeug==0.11.11
